/* all components */
a, a:visited {
    color: var(--ra-blue);
    text-decoration: none;
  }
  ul, ol {
    list-style-type: none;
  }
 
  
  /* schedule */
    
  /* TODO: to be turned into grid, with fixed dimensions in var() */
  
  div.schedule-button-space {
      width: 2em;
      min-height: 1px;
  }
  
  div.schedule-preamble {
      min-height: 1px;
  }
  
  div.schedule-fixed-preamble {
      width: 0%;
      min-height: 1px;
  }