/* layout */
div.app {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto 1fr minmax(2rem, auto) minmax(0, auto);
    height: 100vh;
  }
 
 header {
    width: 100%;
    z-index: 999;
    margin-bottom: 1em;
  }

  main {
    width: min(100% - 0.2em, 70em);
    margin: 0 auto;
    padding-bottom: 2em;
    overflow: auto;
  }

  section {
    padding: 0.2em;
    margin-bottom: 1em;
  }

 footer {
    border-top: 1px solid rgba(0, 0, 0, 0.1);
  }

  @media screen and (min-width: 76.8em) {
    main {
      width: min(100% - 2em, 70em);
    }
  }
  @media screen and (min-width: 102.4em) {
    main {
      width: min(100% - 4em, 70em);
    }
  }
  @media screen and (min-width: 136.6em) {
    main {
      width: min(100% - 8em, 70em);
    }
  }

  /* font sizes */
header {
  font-size: var(--ra-m);
}
main {   
  font-size: var(--ra-s);
}
footer {   
  font-size: var(--ra-xs);
}

@media screen and (min-width: 76.8em){
header {
  font-size: var(--ra-l);
} 

main {   
  font-size: var(--ra-m);
}

footer {
  font-size: var(--ra-s);
}
}

@media screen and (min-width: 102.4em){
header {
  font-size: var(--ra-xl);
} 
main {   
  font-size: var(--ra-l);
}

footer {
  font-size: var(--ra-m);
}
}

/* font-sizes parts */
header menu {
  font-size: 0.8em;
} 

header nav.key{
  font-size: 1.2em;
}

header nav.sub{
  font-size: 1em;
}

main header {   
  font-size: 1.2em;
}
main section {   
  font-size: 1em;
}
footer div {
  font-size: 1em;
}



