/* layout */
div.app {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto 1fr minmax(2rem, auto) minmax(0, auto);
  height: 100vh;
}

header {
  width: 100%;
  z-index: 999;
  margin-bottom: 1em;
}

main {
  width: min(100% - 1em, 70em);
  margin: 0 auto;
  overflow: auto;
}
main > section {
  margin-bottom: 1em;
  padding: 0.2em;
}

footer {
  border-top: 1px solid rgba(0, 0, 0, 0.1);
}
footer > section {
  padding: 0.2em 0;
}

@media screen and (min-width: 768px) {
  main {
    width: min(100% - 4em, 70em);
  }
}
@media screen and (min-width: 1024px) {
  main {
    width: min(100% - 6em, 70em);
  }
}
@media screen and (min-width: 1366px) {
  main {
    width: min(100% - 8em, 70em);
  }
}
