/* layout */
body {
    margin: 0;
    /* width: 100%; */
    /* % because it takes into account space that is taken up by a vertical scroll bar */
    /* min-height: 100vh; */
    /* vh because it takes up 100 points of the viewport, the html element follows this as well */
}
div.app {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto 1fr minmax(2rem, auto) minmax(0, auto);
    height: 100vh;
  }
 
 header {
    width: 100%;
    z-index: 999;
    margin-bottom: 2em;
  }

  main {
    width: min(100% - 0.2em, 70em);
    margin: 0 auto;
    padding-bottom: 2em;
    overflow: auto;
  }

  @media screen and (min-width: 76.8em) {
    main {
      width: min(100% - 2em, 70em);
    }
  }
  @media screen and (min-width: 102.4em) {
    main {
      width: min(100% - 4em, 70em);
    }
  }
  @media screen and (min-width: 136.6em) {
    main {
      width: min(100% - 8em, 70em);
    }
  }
  section {
    padding: 0.2em;
    margin-bottom: 1em;
  }
 footer {
    border-top: 1px solid rgba(0, 0, 0, 0.1);
  }




