html,
body {
  position: relative;
  width: 100%;
  min-height: 100%;
}

body {
  color: #333333;
  margin: auto;
  padding: 0px 0px 34px 0px;
  box-sizing: border-box;
  font-family: 'Trebuchet MS', -apple-system, BlinkMacSystemFont, 'Segoe UI',
    Roboto, Oxygen-Sans, Ubuntu, Cantarell, 'Helvetica Neue', sans-serif;
}

html:root {
  /* on light primary */
  --ra-blue: #003366;
  --ra-green: #669900;
  --ra-red: #cc0000;
  --ra-black: black;
  --ra-grey: #333333;
  /* on light secondary */
  --ra-grey-medium: #666666;
  --ra-blue-light: #006699;
  --ra-green-light: #aacc66;
  --ra-red-light: #ff6666;
  --ra-grey-light: #999999;
  /* on dark */
  --ra-blue-bright: #3399ff;
  --ra-green-bright: #00ff33;
  --ra-red-bright: #ff3366;
  --ra-grey-bright: #cccccc;
  --ra-white: white;
  /* surfaces */
  --ra-blue-off-white: #f0ffff;
  --ra-green-off-white: #f0fff0;
  --ra-red-off-white: #faf0e6;
  --ra-grey-off-white: #fcfcfc;
  /* sizes in pixels */
  --ra-s: 7px;
  --ra-m: 14px;
  --ra-l: 21px;
  --ra-xl: 28px;
  --ra-xxl: 35px;
}

/* Svelte defaults */
div#app {
  height: 100%;
  width: auto;
}
