*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
:root {
    /* on light primary */
  --ra-blue: #003366;
  --ra-green: #669900;
  --ra-red: #cc0000;
  --ra-black: black;
  --ra-grey: #333333;
  --ra-blue-grayscale: #292929;
  --ra-green-grayscale: #787878;
  --ra-red-grayscale: #3d3d3d;
  /* on light secondary */
  --ra-grey-medium: #666666;
  --ra-blue-light: #006699;
  --ra-green-light: #aacc66;
  --ra-red-light: #ff6666;
  --ra-grey-light: #999999;
  --ra-teal-light: #accdc6;
  /* on dark */
  --ra-blue-bright: #3399ff;
  --ra-green-bright: #00ff33;
  --ra-red-bright: #ff3366;
  --ra-grey-bright: #cccccc;
  --ra-white: white;
  /* surfaces */
  --ra-white-transparant: rgba(255,255,255,0.9);
  --ra-teal: #75aea2;
  --ra-teal-transparant: rgba(117,174,162,0.9);
  /* f2 transparancy */
  --ra-teal-light-transparant:rgba(172,205,198,0.95);
  --ra-blue-off-white: #f0ffff;
  --ra-green-off-white: #f0fff0;
  --ra-red-off-white: #faf0e6;
  --ra-grey-off-white: #fcfcfc;
  --ra-teal-off-white: #ddebe8;
  /* sizes in em */
  --ra-s: 0.5em;
  --ra-m: 1em;
  --ra-l: 1.5em;
  --ra-xl: 2em;
  --ra-xxl: 2.5em;
  --ra-nav-main-height: 4em;
  --ra-nav-sub-height: 2em;
  --ra-notifications-height: 2em;
}

html{
  font-family: Nobile, 'Source Sans Pro', Helvetica, Geneva, 'Trebuchet MS', sans-serif;
  font-size: 16px;
  color: #333333; /* is ra-grey */
}

body {
    width: 100%;
  /* % because it takes into account space that is taken up by a vertical scroll bar */
  min-height: 100vh;
    /* vh because it takes up 100 points of the viewport, the html element follows this as well */
 
}


/* Svelte defaults */
div.app {
  height: 100%;
  width: 100%;
}

/* page layout */
header{
  top: 0;
  width: 100%;
  position: fixed;
  height: fit-content;
}

main {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  width: 100%;
  height: 100%;
  margin: calc(var(--ra-nav-main-height) + var(--ra-nav-sub-height) + var(--ra-notifications-height)) auto 0 auto;
  padding: 1em;
  border: 1px dashed var(--ra-blue);
}
footer{
  display:flex;
  justify-content: center;
    position: fixed;
    bottom: 0;
    width: 100%;
    padding: 0.5em;
    background-color: var(--ra-white-transparant);
    border-top: 1px solid rgba(0, 0, 0, 0.1);
}
footer a {
  color: var(--ra-blue);
  text-decoration: none;
}

section {
  border: 1px dashed var(--ra-green);
  padding: 1em;
  margin-bottom: 0.5em;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: stretch;
}

section > header, article {
  all: unset;
  /* Doesn't grow, doesn't shrink, wants to be 100%, so forces everything else on other lines */
  flex: 0 0 100%;
}

section > header {
  padding: 2em;
  width: 100%;
  text-align: center;
}

section > footer {
  all: unset;
  padding: 2em;
  flex: 0 0 100%;
}

article {
  flex: 1;
  border: 1px dashed var(--ra-red);
  margin: 1em;
}





/* schedule */
div.schedule-button-space {
  width: 2em;
  min-height: 1px;
}

div.schedule-preamble {
  min-height: 1px;
}

div.schedule-fixed-preamble{
  width:0%;
min-height: 1px;}



/* 
a {
  color: rgb(0, 100, 200);
  text-decoration: none;
}

a:hover {
  color: #006699;
  text-decoration: underline;
}

a:visited {
  color: rgb(0, 80, 160);
}

label {
  display: block;
}

input,
button,
select,
textarea {
  font-family: inherit;
  font-size: inherit;
  padding: 0.4em;
  margin: 0 0 0.5em 0;
  box-sizing: border-box;
  border: 1px solid #ccc;
  border-radius: 2px;
}

input:disabled {
  color: #ccc;
}

input[type='range'] {
  height: 0;
}

button {
  color: #333;
  background-color: #f4f4f4;
  outline: none;
}

button:disabled {
  color: #999;
}

button:not(:disabled):active {
  background-color: #ddd;
}

button:focus {
  border-color: #666;
} */
