html,
body {
  position: relative;
  width: 100%;
  min-height: 100%;
}

body {
  color: #333333;
  margin: auto;
  padding: 0px 0px 34px 0px;
  box-sizing: border-box;
}

html:root {
  /* on light primary */
  --ra-blue: #003366;
  --ra-green: #669900;
  --ra-red: #cc0000;
  --ra-black: black;
  --ra-grey: #333333;
  /* on light secondary */
  --ra-grey-medium: #666666;
  --ra-blue-light: #006699;
  --ra-green-light: #aacc66;
  --ra-red-light: #ff6666;
  --ra-grey-light: #999999;
  /* on dark */
  --ra-blue-bright: #3399ff;
  --ra-green-bright: #00ff33;
  --ra-red-bright: #ff3366;
  --ra-grey-bright: #cccccc;
  --ra-white: white;
  /* surfaces */
  --ra-blue-off-white: #f0ffff;
  --ra-green-off-white: #f0fff0;
  --ra-red-off-white: #faf0e6;
  --ra-grey-off-white: #fcfcfc;
  /* sizes in pixels */
  --ra-s: 7px;
  --ra-m: 14px;
  --ra-l: 21px;
  --ra-xl: 28px;
  --ra-xxl: 35px;
}

/* Svelte defaults */
div#app {
  height: 100%;
  width: auto;
}


/* schedule */
div.schedule-button-space {
  width: 2em;
  min-height: 1px;
}

div.schedule-preamble {
  min-height: 1px;
}

div.schedule-fixed-preamble{
  width:0%;
min-height: 1px;}



/* 
a {
  color: rgb(0, 100, 200);
  text-decoration: none;
}

a:hover {
  color: #006699;
  text-decoration: underline;
}

a:visited {
  color: rgb(0, 80, 160);
}

label {
  display: block;
}

input,
button,
select,
textarea {
  font-family: inherit;
  font-size: inherit;
  padding: 0.4em;
  margin: 0 0 0.5em 0;
  box-sizing: border-box;
  border: 1px solid #ccc;
  border-radius: 2px;
}

input:disabled {
  color: #ccc;
}

input[type='range'] {
  height: 0;
}

button {
  color: #333;
  background-color: #f4f4f4;
  outline: none;
}

button:disabled {
  color: #999;
}

button:not(:disabled):active {
  background-color: #ddd;
}

button:focus {
  border-color: #666;
} */
