*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    /* on light primary */
    --ra-blue: #003366;
    --ra-green: #669900;
    --ra-red: #cc0000;
    --ra-black: black;
    --ra-grey: #333333;
    --ra-blue-grayscale: #292929;
    --ra-green-grayscale: #787878;
    --ra-red-grayscale: #3d3d3d;
    /* on light secondary */
    --ra-grey-medium: #666666;
    --ra-blue-light: #006699;
    --ra-green-light: #aacc66;
    --ra-red-light: #ff6666;
    --ra-grey-light: #999999;
    /* on dark */
    --ra-blue-bright: #3399ff;
    --ra-green-bright: #00ff33;
    --ra-red-bright: #ff3366;
    --ra-grey-bright: #cccccc;
    --ra-white: white;
    /* surfaces */
    --ra-blue-off-white: #f0ffff;
    --ra-green-off-white: #f0fff0;
    --ra-red-off-white: #faf0e6;
    --ra-grey-off-white: #fcfcfc;
    --ra-black-off-white: whitesmoke;
    --ra-teal-off-white_alt: #ddebe8;
    --ra-teal-off-white_dbl: #e0e9e7;
    --ra-teal: #75aea2;
    --ra-teal-light: #accdc6;
    --ra-teal-bright: rgb(143, 233, 214, 1);
    --ra-teal-off-white: rgb(224, 233, 231, 1);
    /* f2 transparancy */
    --ra-white-transparant: rgba(255, 255, 255, 0.9);
    --ra-teal-transparant: rgba(117, 174, 162, 0.9);
    --ra-teal-light-transparant: rgba(172, 205, 198, 0.95);
    
    /* sizes in rem; font-size: 62.5%, so 10px; */
    --ra-xxs: 0.8rem; /*0.5rem;*/
    --ra-xs: 1.2rem; /*0.75rem;*/
    --ra-s: 1.4rem; /*0.875rem;*/
    --ra-m: 1.6rem; /*1em;*/
    --ra-l: 1.8rem; /*1.125em;*/
    --ra-xl: 2rem; /*1.25em;*/
    --ra-2xl: 2.4rem; /*1.5em;*/
    --ra-3xl: 3rem; /*1.875rem;*/
    --ra-4xl: 3.6rem; /*2.25rem;*/
    --ra-5xl: 4.8rem; /*3rem;*/
    --ra-6xl: 6rem; /*3.75rem;*/
    --ra-7xl: 7.2rem; /*4.5rem;*/
    --ra-8xl: 9.6rem; /*6rem;*/
    --ra-nav-1-height-xl: 2.24rem; /*1.4em;*/
    --ra-nav-1-height-xs: 2.24rem; /*1.4em;*/
    --ra-nav-2-height-xl: 6.4rem; /*4em;*/
    --ra-nav-2-height-xs: 12.8rem; /*8em;*/
    --ra-nav-3-height-xl: 3.2rem; /*2em;*/
    --ra-nav-3-height-xs: 6.4rem; /*4em;*/
    --ra-notifications-height: 3.2rem; /*2em;*/
    --ra-mobile: 476px;
    /* font-sizes in clamp() rem */
    --ra-fs-weight: calc(1/56);
    --ra-fs-xxs: 0.8rem; /*0.5rem;*/
    --ra-fs-xs: 1.2rem; /*0.75rem;*/
    --ra-fs-s: 1.4rem; /*0.875rem;*/
    --ra-fs-m: 1.6rem; /*1rem;*/
    --ra-fs-l: 1.8rem; /*1.125rem;*/
    --ra-fs-xl: 2rem; /*1.25rem;*/
    --ra-fs-2xl: 2.4rem; /*1.5rem;*/
    --ra-fs-3xl: 3rem; /*1.875rem;*/
    --ra-fs-4xl: 3.6rem; /*2.25rem;*/
    --ra-fs-5xl: 4.8rem; /*3rem;*/
    --ra-fs-6xl: 6rem; /*3.75rem;*/
    --ra-fs-7xl: 7.2rem; /*4.5rem;*/
    --ra-fs-8xl: 9.6rem; /*6rem;*/
    /* screen sizes */
    --iphone: 320px;
    --iphoneplus: 476px;
    --ipad-mini: 768px;
    --ipad-pro-10-5: 834px;
    --ipad-pro-12-9: 1024px;
    --desktop: 1366px;
}

html {
    font-family: Nobile, 'Source Sans Pro', Helvetica, Geneva, 'Trebuchet MS', sans-serif;
    font-size: 62.5%;
    /* == 10px */
    color: #333333;
    /* == ra-grey */
}

body {
    margin: 0;
    /* width: 100%; */
    /* % because it takes into account space that is taken up by a vertical scroll bar */
    /* min-height: 100vh; */
    /* vh because it takes up 100 points of the viewport, the html element follows this as well */
}
div.app {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto 1fr minmax(2rem, auto) minmax(0, auto);
    height: 100vh;
  }
/* schedule */


/* TODO: to be turned into grid, with fixed dimensions in var() */

div.schedule-button-space {
    width: 2em;
    min-height: 1px;
}

div.schedule-preamble {
    min-height: 1px;
}

div.schedule-fixed-preamble {
    width: 0%;
    min-height: 1px;
}