* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    /* on light primary */
    --ra-blue: #003366;
    --ra-green: #669900;
    --ra-red: #cc0000;
    --ra-black: black;
    --ra-grey: #333333;
    --ra-blue-grayscale: #292929;
    --ra-green-grayscale: #787878;
    --ra-red-grayscale: #3d3d3d;
    /* on light secondary */
    --ra-grey-medium: #666666;
    --ra-blue-light: #006699;
    --ra-green-light: #aacc66;
    --ra-red-light: #ff6666;
    --ra-grey-light: #999999;
    --ra-teal-light: #accdc6;
    /* on dark */
    --ra-blue-bright: #3399ff;
    --ra-green-bright: #00ff33;
    --ra-red-bright: #ff3366;
    --ra-grey-bright: #cccccc;
    --ra-white: white;
    /* surfaces */
    --ra-white-transparant: rgba(255, 255, 255, 0.9);
    --ra-teal: #75aea2;
    --ra-teal-light: rgba(172, 205, 198, 1);
    --ra-teal-bright: rgb(143, 233, 214, 1);
    --ra-teal-off-white: rgb(224, 233, 231, 1);
    /* f2 transparancy */
    --ra-teal-transparant: rgba(117, 174, 162, 0.9);
    --ra-teal-light-transparant: rgba(172, 205, 198, 0.95);
    --ra-blue-off-white: #f0ffff;
    --ra-green-off-white: #f0fff0;
    --ra-red-off-white: #faf0e6;
    --ra-grey-off-white: #fcfcfc;
    --ra-teal-off-white: #ddebe8;
    /* sizes in em */
    --ra-s: 0.5em;
    --ra-m: 1em;
    --ra-l: 1.5em;
    --ra-xl: 2em;
    --ra-xxl: 2.5em;
    --ra-nav-1-height-xl: 1.4em;
    --ra-nav-1-height-xs: 1.4em;
    --ra-nav-2-height-xl: 4em;
    --ra-nav-2-height-xs: 8em;
    --ra-nav-3-height-xl: 2em;
    --ra-nav-3-height-xs: 4em;
    --ra-notifications-height: 2em;
    --ra-mobile: 476px;
    /* font-sizes in clamp() rem */
    --font-size-min: 0.8rem;
    --font-size-weight: calc(1/56);
    --font-size-max: 1rem;
}

html {
    font-family: Nobile, 'Source Sans Pro', Helvetica, Geneva, 'Trebuchet MS', sans-serif;
    font-size: 16px;
    color: #333333;
    /* is ra-grey */
}

body {
    margin: 0;
    /* width: 100%; */
    /* % because it takes into account space that is taken up by a vertical scroll bar */
    /* min-height: 100vh; */
    /* vh because it takes up 100 points of the viewport, the html element follows this as well */
}


/* Svelte defaults */

div.app {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto 1fr auto;
    height: 100vh;
}


/* p */

p {
    padding: 1em 0;
}


/* schedule */


/* TODO: to be turned into grid, with fixed dimensions in var() */

div.schedule-button-space {
    width: 2em;
    min-height: 1px;
}

div.schedule-preamble {
    min-height: 1px;
}

div.schedule-fixed-preamble {
    width: 0%;
    min-height: 1px;
}