*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    /* on light primary */
    --ra-blue: #003366;
    --ra-green: #669900;
    --ra-red: #cc0000;
    --ra-black: black;
    --ra-grey: #333333;
    --ra-blue-grayscale: #292929;
    --ra-green-grayscale: #787878;
    --ra-red-grayscale: #3d3d3d;
    /* on light secondary */
    --ra-grey-medium: #666666;
    --ra-blue-light: #006699;
    --ra-green-light: #aacc66;
    --ra-red-light: #ff6666;
    --ra-grey-light: #999999;
    /* on dark */
    --ra-blue-bright: #3399ff;
    --ra-green-bright: #00ff33;
    --ra-red-bright: #ff3366;
    --ra-grey-bright: #cccccc;
    --ra-white: white;
    /* surfaces */
    --ra-blue-off-white: #f0ffff;
    --ra-green-off-white: #f0fff0;
    --ra-red-off-white: #faf0e6;
    --ra-grey-off-white: #fcfcfc;
    --ra-black-off-white: whitesmoke;
    --ra-teal-off-white_alt: #ddebe8;
    --ra-teal-off-white_dbl: #e0e9e7;
    --ra-teal: #75aea2;
    --ra-teal-light: #accdc6;
    --ra-teal-bright: rgb(143, 233, 214, 1);
    --ra-teal-off-white: rgb(224, 233, 231, 1);
    /* f2 transparancy */
    --ra-white-transparant: rgba(255, 255, 255, 0.9);
    --ra-teal-transparant: rgba(117, 174, 162, 0.9);
    --ra-teal-light-transparant: rgba(172, 205, 198, 0.95);
    
    /* sizes in rem; font-size: 62.5%, so 10px; */
    --ra-xxs: 0.8rem; /*0.5rem;*/
    --ra-xs: 1.2rem; /*0.75rem;*/
    --ra-s: 1.4rem; /*0.875rem;*/
    --ra-m: 1.6rem; /*1em;*/
    --ra-l: 1.8rem; /*1.125em;*/
    --ra-xl: 2rem; /*1.25em;*/
    --ra-2xl: 2.4rem; /*1.5em;*/
    --ra-3xl: 3rem; /*1.875rem;*/
    --ra-4xl: 3.6rem; /*2.25rem;*/
    --ra-5xl: 4.8rem; /*3rem;*/
    --ra-6xl: 6rem; /*3.75rem;*/
    --ra-7xl: 7.2rem; /*4.5rem;*/
    --ra-8xl: 9.6rem; /*6rem;*/
    /* font-size weight in clamp() rem */
    --ra-fs-weight: calc(1/56);
    /* screen sizes */
    --iphone: 320px;
    --iphone-plus: 414px;
    --ipad: 768px;
    --ipad-pro: 1024px;
    --desktop: 1366px;
}

html {
    font-family: Nobile, 'Source Sans Pro', Helvetica, Geneva, 'Trebuchet MS', sans-serif;
    font-size: 62.5%;
    /* == 10px */
    color: #333333;
    /* == ra-grey */
}

body {
    margin: 0;
    /* width: 100%; */
    /* % because it takes into account space that is taken up by a vertical scroll bar */
    /* min-height: 100vh; */
    /* vh because it takes up 100 points of the viewport, the html element follows this as well */
}
div.app {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto 1fr minmax(2rem, auto) minmax(0, auto);
    height: 100vh;
  }

 /* layout */
 header {
    font-size: 1.6em;
    width: 100%;
    z-index: 999;
    margin-bottom: 2em;
  }
  main {
    width: min(100% - 0.2em, 70em);
    margin: 0 auto;
    padding-bottom: 2em;
    overflow: auto;
  }

  @media screen and (min-width: 32em) {
    main {
      width: min(100% - 2em, 70em);
    }
  }
  @media screen and (min-width: 102.4em) {
    main {
      width: min(100% - 4em, 70em);
    }
  }
  @media screen and (min-width: 136.6em) {
    main {
      width: min(100% - 8em, 70em);
    }
  }
  section {
    padding: 0.2em;
    margin-bottom: 1em;
    font-size: clamp(1.4em, 3vw, 1.8em);
  }
 footer {
    border-top: 1px solid rgba(0, 0, 0, 0.1);
  }
/* schedule */


/* TODO: to be turned into grid, with fixed dimensions in var() */

div.schedule-button-space {
    width: 2em;
    min-height: 1px;
}

div.schedule-preamble {
    min-height: 1px;
}

div.schedule-fixed-preamble {
    width: 0%;
    min-height: 1px;
}