/* css overrides */
body {
  font-family: 'Trebuchet MS';
}

h1 {
  font-size: 56px;
}
h2 {
  font-size: 49px;
}
h3 {
  font-size: 35px;
}
h4 {
  font-size: 28px;
}
h5 {
  font-size: 21px;
}
h6 {
  font-size: 14px;
}
