:root {
  /* on light primary */
  --ra-blue: #003366;
  --ra-green: #669900;
  --ra-red: #cc0000;
  --ra-black: black;
  --ra-grey: #333333;
  --ra-blue-grayscale: #292929;
  --ra-green-grayscale: #787878;
  --ra-red-grayscale: #3d3d3d;
  /* on light secondary */
  --ra-grey-medium: #666666;
  --ra-blue-light: #006699;
  --ra-green-light: #aacc66;
  --ra-red-light: #ff6666;
  --ra-grey-light: #999999;
  /* on dark */
  --ra-blue-bright: #3399ff;
  --ra-green-bright: #00ff33;
  --ra-red-bright: #ff3366;
  --ra-grey-bright: #cccccc;
  --ra-white: white;
  /* surfaces */
  --ra-blue-off-white: #f0ffff;
  --ra-green-off-white: #f0fff0;
  --ra-red-off-white: #faf0e6;
  --ra-grey-off-white: #fcfcfc;
  --ra-black-off-white: whitesmoke;
  --ra-teal-off-white_alt: #ddebe8;
  --ra-teal-off-white_dbl: #e0e9e7;
  --ra-teal: #75aea2;
  --ra-teal-light: #accdc6;
  --ra-teal-bright: rgb(143, 233, 214, 1);
  --ra-teal-off-white: rgb(224, 233, 231, 1);
  /* f2 transparancy */
  --ra-white-transparant: rgba(255, 255, 255, 0.9);
  --ra-teal-transparant: rgba(117, 174, 162, 0.9);
  --ra-teal-light-transparant: rgba(172, 205, 198, 0.95);

  /* font-size weight in clamp() rem */
  --ra-fs-weight: calc(1 / 56);
  /* screen sizes */
  --iphone: 320px;
  --iphone-plus: 414px;
  --ipad: 768px;
  --ipad-pro: 1024px;
  --desktop: 1366px;
}
